<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/wdi.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"
  integrity="sha256-NXRS8qVcmZ3dOv3LziwznUHPegFhPZ1F/4inU7uC8h0=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
  integrity="sha256-UK1EiopXIL+KVhfbFa8xrmAWPeBjMVdvYMYkTAEv/HI=" crossorigin="anonymous" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"
  integrity="sha256-4hqlsNP9KM6+2eA8VUT0kk4RsMRTeS7QGHIM+MZ5sLY=" crossorigin="anonymous" />
<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
<!-- {% block header_wrapper %} {% block header_account %}

<header class="account-masthead">
  <div class="container">
    {% block header_account_container_content %} {% if c.userobj %}
    <div class="account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
      <ul class="list-unstyled">
        {% block header_account_logged %} 
          {% if c.userobj.sysadmin %}
          <li>
            <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
              <i class="fa fa-gavel" aria-hidden="true"></i>
              <span class="text">{{ _('Admin') }}</span>
            </a>
          </li>
          {% endif %}
        <li>
          <a href="{{ h.url_for('user.read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
                  {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }}
                  <span class="username">{{ c.userobj.display_name }}</span>
                </a>
        </li>
        {% set new_activities = h.new_activities() %}
        <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
          {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities)
          %}
          <a href="{{ h.url_for('dashboard.index') }}" title="{{ notifications_tooltip }}">
            <i class="fa fa-tachometer" aria-hidden="true"></i>
            <span class="text">{{ _('Dashboard') }}</span>
            <span class="badge">{{ new_activities }}</span>
          </a>
        </li>
        {% block header_account_settings_link %}
        <li>
          <a href="{{ h.url_for('user.edit', id=c.userobj.name) }}" title="{{ _('Edit settings') }}">
            <i class="fa fa-cog" aria-hidden="true"></i>
            <span class="text">{{ _('Settings') }}</span>
          </a>
        </li>
        {% endblock %} {% block header_account_log_out_link %}
        <li>
          <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            <span class="text">{{ _('Log out') }}</span>
          </a>
        </li>
        {% endblock %} {% endblock %}
      </ul>
    </div>
    {% else %}
    <nav class="account not-authed">
      <ul class="list-unstyled">
        {% block header_account_notlogged %}
        <li>{% link_for _('Log in'), named_route='user.login' %}</li>
        {% if h.check_access('user_create') %}
        <li>{% link_for _('Register'), named_route='user.register', class_='sub' %}</li>
        {% endif %} {% endblock %}
      </ul>
    </nav>
    {% endif %} {% endblock %}
  </div>
</header>
{% endblock %}

{% endblock %} -->


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><img
          style="float: left;    /* width: 40px; */    height: 49px;    margin-top: -15px;    margin-right: 10px;"
          src="{{ g.site_logo }}" alt="LOGO" title="LOGO">
        <span class="titletext">{{ g.site_title }}</span></a>
    </div>
    <ul class="nav navbar-nav fiveptfont">
      <li><a href="/">Home</a></li>
      <li><a href="/map">Map</a></li>
      <li><a href="/dataset">Data</a></li>
      <!-- <li><a href="/organization">Organizations</a></li>
      <li><a href="/group">Topics</a></li> -->
      <li><a href="/about">About</a></li>
      <li><a href="/team">Team</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/faq">FAQ</a></li>
      <li><a href="/contact">Contact</a></li>
      
    </ul>

    <ul class="nav navbar-nav" style="float: right;">





      
      {% block wdi_account_container_content %}
      {% if c.userobj %}
      {% if c.userobj.sysadmin %}
      <li>
        <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
          <i class="fa fa-gavel" aria-hidden="true"></i>
          <span class="text">{{ _('Admin') }}</span>
        </a>
      </li>
      {% endif %}
      <li>
        <a href="{{ h.url_for('user.read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
          {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }}
          <span class="username">{{ c.userobj.display_name }}</span>
        </a>
      </li>
      <li>


        {% set new_activities = h.new_activities() %}
      <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
        {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities)
                %}
        <a href="{{ h.url_for('dashboard.index') }}" title="{{ notifications_tooltip }}">
          <i class="fa fa-tachometer" aria-hidden="true"></i>
          <span class="text">{{ _('Dashboard') }}</span>
          <span class="badge">{{ new_activities }}</span>
        </a>
      </li>
      {% block wdi_account_settings_link %}
      <li>
        <a href="{{ h.url_for('user.edit', id=c.userobj.name) }}" title="{{ _('Edit settings') }}">
          <i class="fa fa-cog" aria-hidden="true"></i>
          <span class="text">{{ _('Settings') }}</span>
        </a>
      </li>
      {% endblock %}
      {% block wdi_account_log_out_link %}
      <li>
        <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
          <i class="fa fa-sign-out" aria-hidden="true"></i>
          <span class="text">{{ _('Log out') }}</span>
        </a>
      </li>
      {% endblock %}



      {% else %}
      <nav class="account not-authed">
        <ul class="list-unstyled">
          {% block wdi_account_notlogged %}
          <li>{% link_for _('Log in'), named_route='user.login' %}</li>
          {% if h.check_access('user_create') %}
          <li>{% link_for _('Register'), named_route='user.register', class_='sub' %}</li>
          {% endif %} {% endblock %}
        </ul>
      </nav>
      {% endif %} {% endblock %}

    </ul>
  </div>
</nav>

<script>
  $(document).ready(function () {
    // $('#dataset-map').bind('heightChange', function(){
    //     alert('xxx');
    // });

    $("#newview").click(function () {
      console.log("test")
      id="newview"
      $( "#newview" ).toggleClass( "open" )
    });
  });
</script>